<div class="title-container">
  <div>
    <h1>Word Jumbler Clone</h1>
  </div>

  <div class="timer-points-container">
    <div class="timer">
      <h2>Time Left</h2>
      <h1>2:00</h1>
    </div>

    <div class="points">
      <h2>Score</h2>
      <h1>0</h1>
    </div>

    <div>
      <button class="reset">Reset</button>
    </div>
  </div>
</div>

<div class="word-list">
</div>

<div class="letters-container">
  <h3 class="letters typed"></h3>
  <h3 class="letters untyped"></h3>
</div>


<div class="next-round">
  <h1></h1>
</div>
