@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');

.word-list {
  /* columns: 5; */
  height: 250px;
  margin: 20px;
}

.word-list .revealed {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  color: green;
}

.word-list .missed {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  color: red;
}

.timer-points-container {
  display: flex;
  justify-content: space-around;
}

.title-container {
  display: flex;
  justify-content: space-between;
}


.letters-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  margin: 0 auto;
  padding-right: 250px;
}

.letters {
  display: flex;
}

.letters.typed {
  justify-content: flex-start;
}

.letters.untyped {
  justify-content: flex-end;
}

.tile {
  background-color: rgb(213, 180, 143);
  padding: 15px 20px;
  margin: 0 10px;
  border: 2px black solid;
  font-size: 30px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

.letters.typed .tile {
  border: 2px green solid;
}
