@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');

.word-list {
  /* columns: 5; */
  height: 300px;
  margin: 20px;
}

.word-list .revealed {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  color: green;
}

.word-list .missed {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 8px;
  color: red;
}

.timer-points-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  background-color: wheat;
  border: 3px black dashed;
}

.timer-points-container h1 {
  margin-top: -10px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 24px;
}

.timer-points-container h2 {
  margin: 5px 0;
  font-size: 18px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}


.letters-container {
  display: grid;
  grid-template-rows: 50px 80px;
  width: 100%;
}

.letters-container h3 {
  margin: 0 auto;
}

.letters {
  display: flex;
}

.letters.typed {

}

.letters.untyped {
  /* justify-content: flex-end; */
}

.tile {
  background-color: rgb(213, 180, 143);
  padding: 15px 20px;
  margin: 0 6px;
  border: 2px black solid;
  font-size: 30px;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  height: 35px;
  width: 20px;
  text-align: center;
}

.tile-typed {
  background-color: rgb(213, 180, 143);
  padding: 7px 10px;
  margin: 0 3px;
  border: 2px green solid;
  font-size: 15px;
  border-radius: 3px;
  height: 20px;
  width: 12px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.letters.typed .tile {
  border: 2px green solid;
}

.next-round {
  text-align: center;
}
